# /usr/lib/systemd/system/harbor-assistant.service
[Unit]
Description=Harbor Assistant
Documentation=https://github.com/llaoj/harbor-assistant
After=docker.service
Wants=docker.service

[Service]
EnvironmentFile=/opt/harbor-assistant/.env
ExecStartPre=/usr/bin/chmod +x /opt/harbor-assistant/run_assistant
ExecStart=/opt/harbor-assistant/run_assistant
ExecReload=/bin/kill -HUP $MAINPID
Type=simple
KillMode=process
Restart=always
RestartSec=2
StandardError=journal
StandardOutput=journal
StandardInput=null

[Install]
WantedBy=multi-user.target