global_defs {
    router_id ROUTER_2
    enable_script_security
}

vrrp_script harbor_healthz {
  script "/container/service/keepalived/assets/harbor_healthz ${HARBOR_VIP}"
  interval 5
  weight -2
  fall 12
  rise 2
}

vrrp_instance VI_1 {
    state BACKUP
    interface ${INTERFACE}
    virtual_router_id 51
    priority 100
    authentication {
        auth_type PASS
        auth_pass 42
    }
    virtual_ipaddress {
        ${HARBOR_VIP}
    }
    track_script {
        harbor_healthz
    }
}